<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= messageTitle %></h1>
    <p><%= message %></p>
    <button id="back-button" onclick="history.back(); return false;">Back</button>
</body>
</html>