<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% if (locals.categories) { %>
        <ul>
            <%categories.map(category => { %>
                <li><%= category.category_name %>
                    <a href="<%= '/category/' +  category.category_id  + '/edit' %>">Edit</a>
                    <a href="<%= '/category/' +  category.category_id  + '/delete' %>">Delete</a>
                </li>
            <% }); %>
        </ul>
    <% } %>
    <a href="/category/new">Add</a>
</body>
</html>